body {
background-image: url(https://images.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
color: white;

}


body {
  font-size: 175%;

}
h1 {
  color: red;
}
